
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}


body {
  background-color:black;
  color: #ffffff;
}

/* Navbar */
nav {
  background-color: #222;
  padding: 15px;
  margin:auto;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration:none;
  font-weight:normal;
}

nav a:hover {
  text-shadow: orange;
  text-decoration: underline;
  font-weight: bolder;
  
}

/* Product Grid */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Product Card */
.product-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  font-weight: bold;
  color: #ff5722;
}

/* Button */
button {
  background-color: #ff5722;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #e64a19;
}

/* Pages */
.page {
  padding: 20px;
}
